
<h1>Welcome to Pawbeat!</h1>
<p>
	You've found the home page for the 
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	</p>
<p>
	<a href="#"> Sign up now to be a beta user!</a>
</p>
<div class ="footer">
	<small>
		<%= link_to "Pawbeat", "http://pawbeat.com" %>
	</small>
</div>