<div class="hero-unit">
<h1>Pawbeat</h1>

<p>
	<i><a href="#"> Get Fit. Measure Results. Run With The Big Dogs.</a></i>

</p>
<p> 
	<%= link_to "Sign up to be a beta user", "#", class: "btn btn-primary btn-large" %>
</p>
</div>